.main-container {
  background-color: var(--clr-1blue-900);
  color: var(--clr-1blue-100);
}

.main-container-form {
  background-image: var(--clr-lin-grad-teal);
  background-color: #004b4c;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem 3rem;
}

.main-container-fieldset {
  flex-direction: column;
  padding: 1rem 0.5rem;
  width: 80%;
}

input,
select,
:placeholder-shown {
  border-radius: 0.5em;
  padding: 0.3rem 0.5em;
}

@media screen and (min-width: 600px) {
  .main-container-form {
    width: 100%;
    border-radius: 60em;
  }

  .main-container-fieldset {
    width: 60%;
  }
}
