.main-container-herobanner {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.911),
      rgba(37, 37, 37, 0.322)
    ),
    url(/images/mavis-cw-164128.jpg);
  background-size: cover;
  background-position: center top 60%;
}

.main-container-get-involved {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  margin: 1rem 0;
}

.main-container-get-involved-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.main-container-get-involved-item {
  padding: 0.5rem 0;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.349);
}

.main-container-get-involved-item h2 {
  text-align: center;
}
.background-color1 {
  background-color: #ebfbff;
}

.background-color2 {
  background-color: #a6d78e;
}

.background-color3 {
  background-color: #e587fd;
}

.background-color4 {
  background-color: #ffebf6;
}

@media screen and (min-width: 768px) {
  .main-container-get-involved {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    margin: 1rem 0;
  }

  .main-container-get-involved-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
  }
}
