.main-container {
  color: var(--clr-2green-900);
}
.main-container-heroimg-title {
  flex-direction: column;
  margin-bottom: 1.7em;
  gap: 0;
}

.main-container-get-involved {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin: auto;
  width: 95%;
}

.main-container-get-involved-items {
  flex-direction: column;
  justify-content: space-between;
}

.main-container-get-involved-item {
  flex-direction: column;
}

.link-to-contact-us {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0.5em 1em;
  margin: 1.7em 0;
}

.link-to-contact-us .btn {
  margin: 0.2em;
}

.bgc-2green-100 {
  background-color: var(--clr-2green-100);
}

@media screen and (min-width: 480px) {
  .link-to-contact-us {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

@media screen and (min-width: 700px) {
  .main-container-heroimg-title {
    margin-bottom: 2.2em;
  }

  .link-to-contact-us {
    margin: 2em 0;
  }

  .main-container-get-involved {
    gap: 2em;
  }

  .main-container-get-involved-item {
    flex-direction: row;
    gap: 1.5em;
  }
}

@media screen and (min-width: 900px) {
  .main-container-heroimg-title {
    margin-bottom: 2.7em;
  }

  .link-to-contact-us {
    margin: 2.5em 0;
  }

  .main-container-get-involved {
    gap: 2.5em;
  }

  .main-container-get-involved-item {
    gap: 2em;
  }
}
