.main-container-herobanner {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.918),
      rgba(37, 37, 37, 0.445)
    ),
    url(/images/inside-museum.webp);
  background-size: fill;
  background-position: center;
}

.main-container-get-involved {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0.5rem;
}

.main-container-get-involved-items {
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.main-container-get-involved-item {
  max-width: 450px;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.349);
}

.main-container-get-involved-item h2 {
  text-align: center;
  text-transform: uppercase;
}

.background-color1 {
  background-color: #ebfbff;
}

.background-color2 {
  background-color: #a6d78e;
}

.background-color3 {
  background-color: #e587fd;
}

.background-color4 {
  background-color: #ffebf6;
}

@media screen and (min-width: 768px) {
  .main-container-get-involved {
    gap: 3em;
    margin: 3rem 0;
  }

  .main-container-get-involved-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
  }
}
