:root {
  --clr-1blue-900: #003047;
  --clr-1blue-800: #00537a;
  --clr-1blue-100: #e0f5ff;
  --clr-2green-900: #15260d;
  --clr-2green-800: #2b4b1b;
  --clr-2green-700: #4d8731;
  --clr-2green-100: #f3faf0;
  --clr-2orange-900: #441a04;
  --clr-2orange-500: #f36b20;
  --clr-2orange-100: #fdebe2;
  --clr-lin-grad-blue-green: linear-gradient(
    280deg,
    #010728,
    #003e66,
    #0078a0,
    #00b8cd,
    #19fae8
  );
  --clr-lin-grad-teal: linear-gradient(
    to right top,
    #003047,
    #003548,
    #003948,
    #003d47,
    #004145,
    #004b4c,
    #005451,
    #015e56,
    #017067,
    #028378,
    #02968a,
    #03aa9c
  );
  --h1-h5-font: "Playfair Display", serif;
  --link-btn-label-font: "Montserrat", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --text-font: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --text-xl: 20px;
  --text-lrg: 18px;
  --text-med: 16px;
  --text-sml: 14px;
  --text-xs: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

.primary-header-container,
footer {
  background: var(--clr-1blue-900);
  color: var(--clr-1blue-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--h1-h5-font);
  margin: 0;
  padding: 0.5rem;
  letter-spacing: 0.099em;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2.5rem;
}

h2 {
  font-size: 26px;
  font-weight: 600;
  text-transform: small-caps;
}

p,
address {
  font-family: var(--text-font);
  font-size: var(--text-med);
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 0.11em;
  margin: 0;
  padding: 0.5rem;
  max-width: 65ch;
}

a,
button,
.btn,
summary {
  font-family: var(--link-btn-label-font);
  font-size: var(--text-med);
  font-weight: 400;
  letter-spacing: 0.07rem;
  line-height: 1.4rem;
  text-transform: uppercase;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (mix-width: 600px) {
  p {
    font-size: var(--text-lrg);
    font-weight: 500;
    line-height: 1.5rem;
  }

  a,
  button,
  .btn,
  summary {
    font-size: var(--text-lx);
    font-weight: 500;
  }
}

li {
  font-family: var(--link-btn-label-font);
  font-size: var(--text-lrg);
  font-weight: 400;
  letter-spacing: 0.06rem;
  list-style: none;
}

ul {
  margin: 0;
}

.btn {
  border-radius: 4rem;
  width: 60%;
  max-width: 16rem;
  padding: 1rem 0.9rem;
  margin: 1rem;
  display: block;
}

.btn-grad-blue-green {
  background-image: var(--clr-lin-grad-blue-green);
  background-color: #003e66;
  color: var(--clr-1blue-100);
  border: 1px solid var(--clr-1blue-100);
}

.btn-grad-teal {
  background-image: var(--clr-lin-grad-teal);
  background-color: #003d47;
  color: var(--clr-2green-100);
  border: 1px solid var(--clr-2green-100);
}

.box-shadow {
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.25);
}

/*a:visited {
  text-decoration: underline;
  color: #e587fd;
}*/

a:hover,
a:focus,
a:active,
summary:hover,
summary:focus,
summary:active {
  text-decoration: underline;
  color: var(--clr-2orange-500);
}

.container {
  max-width: 1080px;
  margin-inline: auto;
  padding: 0;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.flex {
  display: flex;
  gap: 1rem;
}

.text-center {
  text-align: center;
}
