:root {
  --color-darkest-blue: #003047;
  --color-blue: #14b3ff;
  --color-lightest-blue: #e0f5ff;
  --color-orange: #f36b20;
  --color-lightest-orange: #fdebe2;
  --gradient-blue-green: linear-gradient(
    280deg,
    #010728,
    #003e66,
    #0078a0,
    #00b8cd,
    #19fae8
  );
  --gradient-teal: linear-gradient(
    to right top,
    #003047,
    #003548,
    #003948,
    #003d47,
    #004145,
    #004b4c,
    #005451,
    #015e56,
    #017067,
    #028378,
    #02968a,
    #03aa9c
  );
  --h1-h5-font: "Playfair Display", serif;
  --link-btn-label-font: "Montserrat", sans-serif;
  --text-font: "Poppins", sans-serif;
  --text-xl: 20px;
  --text-lrg: 18px;
  --text-med: 16px;
  --text-sml: 14px;
  --text-xs: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

.primary-header-container,
footer {
  background: var(--color-darkest-blue);
  color: var(--color-lightest-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--h1-h5-font);
  font-variant: var(--h1-h5-font-variant);
  margin: 0;
  padding: 0.5rem 1rem;
  letter-spacing: 0.099em;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2.8rem;
}

h2 {
  font-size: 26px;
  font-weight: 600;
  text-transform: small-caps;
}

p {
  font-family: var(--text-font);
  font-size: var(--text-med);
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 0.11em;
  margin: 0;
  padding: 0.5rem;
  max-width: 65ch;
}

a,
button,
.btn-lrg,
summary {
  font-family: var(--link-btn-label-font);
  font-size: var(--text-med);
  font-weight: 400;
  letter-spacing: 0.07rem;
  line-height: 1.4rem;
  text-transform: uppercase;
  color: var(--color-lightest-blue);
}

img {
  width: 100%;
  display: block;
}

@media screen and (mix-width: 600px) {
  p {
    font-size: var(--text-lrg);
    font-weight: 500;
    line-height: 1.5rem;
  }

  a,
  button,
  .btn-lrg,
  summary {
    font-size: var(--text-lx);
    font-weight: 500;
  }
}

li {
  font-family: var(--link-btn-label-font);
  font-size: var(--text-lrg);
  font-weight: 400;
  letter-spacing: 0.06rem;
  list-style: none;
}

ul {
  margin: 0;
}

.link-to-new-page {
  color: var(--color-lightest-blue);
  background-color: var(--color-darkest-blue);
  border-radius: 5rem;
  display: block;
  padding: 0.5rem;
  margin: 1rem;
}

/*a:visited {
  text-decoration: underline;
  color: #e587fd;
}*/

a:hover,
a:focus,
a:active,
summary:hover,
summary:focus,
summary:active {
  text-decoration: underline;
  color: var(--color-orange);
}

.container {
  max-width: 1080px;
  margin-inline: auto;
  padding: 0;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.flex {
  display: flex;
  gap: 1rem;
}

.text-center {
  text-align: center;
}
