.header-container-items {
  position: relative;
  z-index: 1;
}

.primary-navigation-hamburgerbtn {
  position: absolute;
  z-index: 100;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  border: none;
  cursor: pointer;
}

.primary-navigation-hamburgerbtn:focus,
.close-navigation-icon:focus {
  color: var(--color-lightest-blue);
}

.close-navigation-icon {
  display: none;
}

.primary-navigation-menu {
  position: fixed;
  transform: translateY(-110%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: var(--color-darkest-blue);
  padding-top: 2rem;
}

.menu-item {
  text-decoration: none;
  color: var(--color-lightest-blue);
  display: block;
  padding: 0.5rem;
  font-size: 1.8rem;
}

.primary-navigation-menu > ul li ul {
  display: none;
}
.primary-navigation-menu > ul li:hover ul {
  display: block;
}

.showMenu {
  transform: translateY(0);
}
