.main-container-herobanner {
  height: 40vh;
}

.main-container-herobanner-content {
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  height: 100%;
  color: var(--color-lightest-blue);
}

.main-container-herobanner-title {
  text-align: left;
}

.main-container-herobanner-subtitle {
  font-family: var(--link-btn-label-font);
  font-size: var(--text-lrg);
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  max-width: 280px;
}

@media screen and (min-width: 600px) {
  .main-container-herobanner {
    height: 50vh;
  }

  .main-container-herobanner-content {
    width: 50%;
    padding: 1rem;
    margin-left: 2rem;
  }

  .main-container-herobanner-subtitle {
    font-size: var(--text-xl);
    font-weight: 600;
    line-height: 1.6rem;
    letter-spacing: 0.1rem;
  }
}
