.main-container-herobanner {
  height: 25vh;
}

.main-container-herobanner-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0000007c;
  color: var(--clr-1blue-100);
}

.main-container-herobanner-subtitle {
  font-family: var(--link-btn-label-font);
  font-size: var(--text-lrg);
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

@media screen and (min-width: 600px) {
  .main-container-herobanner {
    height: 30vh;
  }

  .main-container-herobanner-subtitle {
    font-size: var(--text-xl);
    font-weight: 600;
    line-height: 1.6rem;
    letter-spacing: 0.1rem;
  }
}
