.main-container-herobanner {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.911),
      rgba(37, 37, 37, 0.322)
    ),
    url(/images/kids-playing-heroimg.webp);
  background-color: #559636;
  background-size: cover;
  background-position: center top 20%;
}

.main-container-news {
  flex-direction: column;
  align-items: center;
  background-image: var(--gradient-blue-green);
  background-color: #003e66;
  color: var(--color-lightest-orange);
  margin: 1rem 0;
  padding: 1rem 0;
}

.main-container-news-cards {
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
}

.card-container {
  background: var(--color-lightest-orange);
  color: var(--color-darkest-blue);
  border: 1px solid #010728;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.918);
  padding-bottom: 1rem;
}

.card-container img {
  height: 45vh;
  object-fit: cover;
  object-position: bottom;
}

.card-container p {
  height: 20vh;
  padding-top: 1rem;
  line-height: 1.8em;
  font-size: var(--text-lrg);
  font-weight: 500;
}

.main-container-get-involved {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--color-lightest-blue);
  margin-bottom: 1rem;
}

.main-container-get-involved img {
  height: 40vh;
  object-fit: cover;
  width: 90%;
}

@media screen and (min-width: 600px) {
  .main-container-news-cards {
    flex-direction: row;
    width: 100%;
  }

  .card-container {
    width: 32%;
  }

  .card-container img {
    object-position: center;
  }

  .main-container-get-involved {
    flex-direction: row-reverse;
  }

  .main-container-get-involved section {
    width: 80%;
  }

  .main-container-get-involved img {
    width: 70%;
    height: 50vh;
  }
}
