.main-container-herobanner {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.911),
      rgba(37, 37, 37, 0.322)
    ),
    url(/images/kids-playing-heroimg.jpg);
  background-size: cover;
  background-position: center top 20%;
}

.main-container-herobanner-content {
  color: var(--color-lightest-blue);
}

.main-container-herobanner-title {
  text-align: center;
  text-indent: -50px;
}

.main-container-herobanner-subtitle {
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.main-container-news {
  background-image: var(--gradient-blue-green);
  text-align: center;
  color: var(--color-lightest-orange);
  padding: 0.5rem 0.5rem 1.5rem;
  margin-bottom: 1rem;
}

.main-container-news-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 1.5rem;
}

.card-container {
  background: var(--color-lightest-orange);
  border: 1px solid #010728;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.918);
}

.card-container-subheading {
  padding: 1rem;
  text-align: center;
  margin: 0;
  color: var(--color-darkest-blue);
}

.main-container-get-involved {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--color-lightest-blue);
  margin-bottom: 1rem;
}

.main-container-get-involved img {
  object-fit: fill;
}

@media screen and (min-width: 600px) {
  .main-container-news-cards {
    flex-direction: row;
  }

  .card-container {
    width: 32%;
  }

  .main-container-get-involved {
    flex-direction: row-reverse;
  }

  .main-container-get-involved section {
    width: 80%;
  }

  .main-container-get-involved img {
    width: 80%;
    height: 30%;
  }
}
