.main-container-page-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 500;
  overflow-x: auto;
  background-color: var(--clr-1blue-900);
  opacity: 90%;
  width: 100%;
}

.main-container-page-nav-ul {
  flex-direction: row;
  justify-content: stretch;
  padding: 0.5rem;
}

.main-container-page-nav li {
  padding: 0.5rem 1rem;
  width: max-content;
}

.main-container-page-nav li a {
  color: var(--clr-1blue-100);
}
