.main-container-page-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 500;
  overflow-x: auto;
  background-color: var(--color-darkest-blue);
  width: max-content;
}

.main-container-page-nav-ul {
  flex-direction: row;
  padding: 0.5rem;
}

.main-container-page-nav li {
  padding: 0.5rem;
}
